:root {
  --bg-color: #272727;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg-color);
  
}
/* General styles for FAQ siden*/
.faq-container {
  max-width: 850px;
  margin: 50px auto;
  background-color: #202020;
  padding: 20px;
  
  }
  #F-overskrift{
  text-align: center;
  color: #fff;
  }
  .faq-item {
  margin-bottom: 20px;
  }
  
  .question {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  }
  
  .answer {
  font-size: 1rem;
  margin-top: 15px;
  color: white
  }



/* General styles for the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/* ---KONTAKT START---*/

  /*wrap*/
  .ko-form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  /*content*/
  .ko-container {
    max-width: 60%;
    margin: 6rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding: 1rem;
    height: 45rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  
  
  .ko-form-box {
    flex: 1;
    padding: 20px;
    max-width: 100%; 
    margin-bottom: 1rem;
    color: white;
  }
  
  .ko-form-box h2 {
    margin-bottom: 1rem;
  }
  
  .ko-form-box p {
    margin-bottom: 1rem;
  }
  
  .ko-form-box a {
    color: red;
  }
  
  .ko-form-group input{
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px; 
    height: 2.5rem; 
  }
  .ko-form-group textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px; 
    height: 6rem; 
    resize: none;
  }
  
  .ko-form-group button {
    width: 25%;
    background-color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: 15px;
    border: 0;
  }
  
  .ko-form-group label {
    text-decoration: underline red;
  }
  
  .ko-image-box-kontakt img {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 15px; 
    border: #000 solid 3px;
    border-radius: 10px;
  }

 


/* Alt kodning til Footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Styles for the content within the footer */
.footer-content {
  display: flex;
  flex-direction: column; /* Stack items in a column for mobile */
  align-items: center; /* Center items horizontally */
}

.contact-info {
  text-align: left; /* Center align contact info */

}
.contact-info p {
  margin-top: 15px;
  margin-bottom: 15 px; /* Just an example margin, adjust as needed */
}

.footer-links {
  margin-top: 10px; /* Space between contact info and links */
}

.footer-links a {
  display: block; /* Stack links vertically */
  color: #fff;
  padding: 10px;
  text-decoration: none;  
}

.footer-links a:hover {
  color: red;
  text-decoration: underline;
}
.footer-image {
  text-align: center; /* Center align the image */
  margin-top: 10px; /* Space between links and image */
}

.footer-image img {
  width: 7rem; /* Responsive image */
  height: auto;
}
      
/* ALt kode til Cases siden */
.page-title {
  font-size: 3rem;
  text-align: center;
  color: #fff; 
}
.cases{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: #202020;
  margin: 60px 60px 60px 60px;
  

}
.box-container, .box-container1, .box-container2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  
}

#farvensort{
color: #202020;

}
.box {
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 25px;
  width: 90%;
  
  
}

.box h2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0;
}

.box p {
  margin-top: 23px;
  color: #fff;
}


/* Alt kode til navbaren*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Opdateret til space-between for at placere elementerne i begge ender */
  background-color: var(--bg-color);
  padding: 30px;
  color: white;
}

.deltabox {
  height: 3.5rem; /* Just an example height for the logo */
      width: auto;
      position: absolute;
      left: 15px; /* Adjust as needed */
      top: 2%
      
}
.menu-icon {
  cursor: pointer;
  display: block;
  justify-content: right;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  
}

.menu-list li {
  margin-right: 20px;
  position: relative;
}

.menu-list a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  position: relative;
}


.menu-element:after {
  content: '';
  display: flex;
  border-bottom: solid 2px red;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.menu-element:hover:after {
  transform: scaleX(1);
}

.menu-list.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: var(--bg-color);
  width: 100%;
  text-align: center;
  animation-name: menuShow;
  animation-duration: 1s;
  z-index: 99;
}

.menu-list.show li {
  padding: 1rem 0;
}

@keyframes menuShow {
  from {
    top: -300px;
  }

  to {
    top: 70px;
  }
}


/* Media query for skærmbredder fra 768px til 1024px (tablet-størrelse) */
@media only screen and (min-width: 768px) {
  /* Skjul burgerikonet */
  .menu-icon {
    display: none;
  }

  /* Juster navbar-layout til større skærme */
  .navbar {
    display: flex;
    align-items: right;
    justify-content: flex-end;
  }

  /* Juster menu-list til større skærme */
  .menu-list {
    display: flex;
    flex-direction: row;
  }

  /* Fjern margin fra menu-punkter på større skærme */
  .menu-list li {
    margin: 0;
  }

  /* Tilføj margin mellem menu-punkter på større skærme */
  .menu-list li:not(:last-child) {
    margin-right: 20px;
  }

  /* Vis menuen på større skærme, når klassen .show er tilføjet */
  .menu-list.show {
    display: flex;
  }
  .box-container, .box-container1, .box-container2 {
    flex-direction: row;
  }

  .box {
    width: calc(50% - 15rem); /* Adjust the width as needed */
  }

  .box-container1 .box,
  .box-container2 .box {
    margin-top: 0; /* Remove top margin for boxes in the second and third containers */
  }
  .faq-container {
    min-width: 60rem;
    background-color: #202020;
   margin: 3rem 2rem 3rem 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #272727;
    padding: 1rem;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  .faq-container::before {
    position: relative;
    content: "";
    width: 250px;
    height: 100px;
    background-color: red;
    left: 46.5rem;
    top: -2.3rem;
    z-index: -1;
    
}
.faq-container::after {
    position: relative;
    content: "";
    width:250px;
    height: 100px;
    background-color: red;
    left: -2rem;
  bottom: -2.1rem;
  z-index: -1;
   
    
  
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row; /* Stack items in a row for desktop */
}
.ko-container {
  min-width: 60rem;
   background-color: #202020;
  margin: 3rem 2rem 3rem 10rem;
   display: flex;
   justify-content: space-between;
   background-color: #272727;
   padding: 1rem;
   height: 100%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

 }

 .ko-container::before {
  position: relative;
  content: "";
  width: 300px;
  height: 100px;
  background-color: red;
  left: 44rem;
  top: -2.5rem;
  z-index: -10;
 }

 .ko-container::after {
  position: relative;
  content: "";
  width: 300px;
  height: 100px;
  background-color: red;
  left: -3rem;
  bottom: -2.7rem;
  z-index: -1;
 }
 .cases::after{ 
  position: relative;
  content: "";
  width: 300px;
  height: 100px;
  background-color: red;
  left: -1.5rem;
  bottom: -1.5rem;
  z-index: -1;


 }
 .ko-form-group button {
  width: 15%;
  background-color: red;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 15px;
  border: 0;
  cursor: pointer;
}

 .cases::before{ 
  position: relative;
  content: "";
  width: 300px;
  height: 100px;
  background-color: red;
  left: 70rem;
  top: -1.5rem;
  z-index: -1;

 }
}

