/* General styles for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Styles for the content within the footer */

.footer-content {
    display: flex;
    align-items: center;
}

.contact-info {
    flex: 1;
    text-align: left;
}

.footer-links {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.footer-links a {
    color: #fff;
    padding: 0.5rem;
}
.footer-links a:hover {
    color: red;
}
.footer-image {
    flex: 1;
    text-align: right;
}

.footer-image img {
    height: 10rem;
    width: auto;
}      
