body {
    background-color: #272727;
    margin: 0;
    padding: 0;
}
.ptp-overskrift {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10rem;
}

.ptp-overskrift img {
    max-width: 30rem;
    width: 70%;
    max-height: 20rem;
    height: 100%;
   }

   .playbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playbutton img {
    max-width: 10rem;
    width: 100%;
}

.ptp-press-to-start {
    text-align: center;
    color: white;
    text-transform: capitalize;    
    font-size: 2rem;
}


@media only screen and (min-width: 768px) {
    
.ptp-overskrift {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 10rem;
    }
    
.ptp-overskrift img {
 max-width: 30rem;
 width: 100%;
 max-height: 20rem;
 height: 100%;
}

.playbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.playbutton img {
    max-width: 5rem;
    width: 100%;
}

.ptp-press-to-start {
    text-align: center;
    color: white;
    text-transform: capitalize;
    
    font-size: 3rem;
}

}